<header class="bg-grey-300 pt-6 px-12 pb-3 h-24 flex items-center justify-between">
  <a href="/">
    <img src="https://gems.gifmaster5000.com/logo.png" alt="Gifmaster Logo" class="w-[400px]" />
  </a>

  <div :if={assigns[:current_user]} class="flex items-center gap-4 text-white">
    <span>{@current_user.email}</span>
    <.link href={~p"/users/settings"}>Settings</.link>
    <.link href={~p"/users/log_out"} method="delete">Log out</.link>
    <.button phx-click={send(self(), :open_modal)}>Upload</.button>
  </div>
  <div :if={!assigns[:current_user]} class="flex items-center gap-4 text-white">
    <.link href={~p"/users/register"}>Register</.link>
    <.link href={~p"/users/log_in"}>Log in</.link>
  </div>
</header>

<main class="bg-grey-400 min-h-screen">
  <div class="px-12 py-6">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
