<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"} />

    <.live_title><%= assigns[:title] || "Gifmaster 5000" %></.live_title>

    <meta name="title" content={assigns[:title] || "Gifmaster 5000"} />
    <meta name="description" content={@description} />
    <meta name="robots" content="noindex,nofollow" />
    <meta name="og:title" content={@title} />
    <meta name="og:type" content="website" />
    <meta name="og:url" content={@current_url} />
    <meta name="og:image" content={"#{@current_url}/images/favicon.png"} />
    <meta name="og:site_name" content={@title} />
    <meta name="og:description" content={@description} />

    <link rel="apple-touch-icon" href={"#{@current_url}/images/favicon.png"} />
    <link sizes="72x72" rel="apple-touch-icon" href={"#{@current_url}/images/favicon.png"} />
    <link rel="apple-touch-icon" sizes="114x114" href={"#{@current_url}/images/favicon.png"} />
    <link rel="apple-touch-startup-image" href={"#{@current_url}/images/favicon.png"} />
    <link rel="icon" href={"#{@current_url}/images/favicon.ico"} />
  </head>

  <body>
    <%= @inner_content %>
  </body>
</html>
